
<div class="d-flex min-vh-100" lc-helper="background" style="background:url(https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80)  center / cover no-repeat; background-color:#444; background-blend-mode: overlay;">
	<div class="align-self-center text-center text-light col-md-8 offset-md-2">
		<div class="lc-block mb-4">
			<div editable="rich">
				<h1 class="display-1 fw-bolder">Rent or list your Laptop easily</h1>
			</div>
		</div>

		<div class="lc-block">
			<div editable="rich">
				<p class="lead">Experience the extraordinary with our exceptional laptop lending service. Our tech-savvy superheroes are here to deliver the perfect laptop solution for students, professionals, and adventurers alike. With lightning-fast processors, stunning graphics, and seamless functionality, our remarkable heroes will elevate your digital experience to new heights. Trust in our unparalleled expertise to bring innovation to your fingertips. Discover the power of our Laptop Lending Heroes and unlock limitless possibilities today!</p>


				</p>

			</div>
		</div>

		<div class="input-group rounded">
			<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
			<span class="input-group-text border-0" id="search-addon">
				<i class="fas fa-search"></i>
			</span>
		</div>
	</div>
</div>
 
 
  