.booking-success {
    color: #1EDD88;
    border-color: #1EDD88;
    padding: 8px 24px;
    font-weight: 400;
    line-height: 1.5;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
}


.booking-awaiting {
    color: #c11717;
    border-color:  #c11717;
    padding: 8px 24px;
    font-weight: 400;
    line-height: 1.5;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
}