 <section class="pt-5 pb-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-7">
            <img src=" <%= @product.image_url %> " alt=""
              class="img-fluid mx-auto d-block">
          </div>
          <div class="col-5">
            <h1 class="mb-2 display-5 fw-bold"><%= @product.brand %></h1>
            <p class="lead">Here are some of our top features.</p>
            <ol class="list-features lead list-l">
              <li>Create responsive pages</li>
              <li>Unlimited Layouts</li>
              <li>Built to scale</li>
              <li>User friendly and intuitive</li>
              <li>Media browser soon</li>
              <li>Bootstrap 5 support</li>
            </ol>
            <%= link_to "Book", new_user_session_path, class: "btn btn-dark" %>
          </div>
        </div>
      </div>
    </section>
