 <section class="pt-5 pb-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-7">
            <img src=" <%= @product.image_url %> " alt=""
              class="img-fluid mx-auto d-block">
          </div>
          <div class="col-5">
            <h1 class="mb-2 display-5 fw-bold"><%= @product.brand %></h1>
            <p class="lead">Here are some of our top features.</p>
            <% specs_lines = @product.specs.lines %>
              <ul class="list-features lead list-l">
                <% specs_lines.each do |line| %>
                  <li><%= line.chomp %></li>
                <% end %>
              </ul>
              <% if @product.availability?%>
                <p class="lead text-success text-uppercase font-weight-bold">Available</p>
                <%= link_to "Book", new_user_session_path, class: "btn btn-dark" %>
              <% else %>
                <p class="text-danger text-uppercase font-weight-bold">Not Available</p>
              <% end %>
          </div>
        </div>
      </div>
    </section>
